
// hide removed from feed notices 
.feed-item-dismissal-notices { display:none; } 

.bcRemoveButton {
	cursor:pointer;
	opacity:.45;
	position:absolute; 
	top:0; 
	right:30px; 
	display:none; 
	padding:3px;
}

.feed-item-container:hover .bcRemoveButton { display:block; }

.bcRemoveButton:hover { opacity:.6; }

#bcRemoveAll {
	margin-right: 1em;
}
#bcRemoveAll:hover {
	text-decoration: underline;
}