.buttonEnabled{ position: relative; }

// hide removed from feed notices
.feed-item-dismissal-notices { display:none; }

.bcRemoveButton {
	cursor:pointer;
	opacity:.45;
	position:absolute;
	top:50px;
	right:35px;
	display:none;
	padding:3px;
}


.feed-item-container:hover .bcRemoveButton { display:block; }

.bcRemoveButton:hover { opacity:.6; }

#bcRemoveAll {
	margin-right: 1em;
}
#bcRemoveAll:hover {
	text-decoration: underline;
}

/* new grid view */
.yt-shelf-grid-item .bcRemoveButton {
	top: 1px;
	right: 1px;
	background: #000;
}
.feed-item-container:hover .yt-shelf-grid-item .bcRemoveButton { display:none; }
.yt-shelf-grid-item:hover .bcRemoveButton { display:block !important; }
